#plug_app {
  position: fixed;
  bottom: 100px;
  right: 50px;
  line-height: 30px;
  text-align: center;
  z-index: 999999;
  cursor: pointer;
}
#plug_download,
#plug_collect {
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
}
#plug_collect {
}
